* {
  box-sizing: border-box;
}
:root {
  --primary-color: #304353;
  --secondary-color: #f2f2f2;
  --tertiary-color: #555;
  --quaternary-color: #fff;
  --quinary-color: #000;
  --border-radius: 5px;
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
  --transition-speed: all 600ms ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7em;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #0b203e;
}
.logo {
  width: 10%;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.heading{
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--quaternary-color);
}
.brand-title img {
  display: block;
  object-fit: cover;
}
.slider img {
  width: 100%;
}
.gallery img {
  width: 24%;
  transition: all 0.3s ease-in-out; 
  border-radius: 10px;
}
.gallery img:hover {
  transform: scale(1.1);
}
.event {
  width: 30%;
  margin-right: 3%;
  float: left;
  border: 2px solid #0b203e;
  border-radius: 20px;
  margin-bottom: 10px;
}
.event div {
  padding: 10px;
  background-color: #f0f3fa;
  border-radius: 20px;
}
.event ul{
  padding: 0px;
}
.event ul li {
  margin-bottom: 20px;
  width: 100%;
  /* float: left; */
  list-style: none;
}
.testimonial {
  width: 380px;
  float: left;
  margin-right:3%;
  border-radius: 20px;
  border: 2px solid #0b203e;
}
.testimonial-text {
  background: #f0f3fa;
  padding: 20px;
  line-height: 35px;
  border-radius: 20px;
}
.testimonial-detail {
  float: left;
  margin-top: 10px;
}
.testimonial-img {
  float: left;

}
.testimonial-img img {
  width: 10%;
  margin-left: 10px;

}
.testimonial-name {
  margin-left: 10px;
  float: left;
}
.testimonial-name h5 {
  font-size: 18px;
  margin-top: -7px;
}
.test {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.placement img {
  border: 1px solid #dfdfdf;
}
.footer {
  background-color: #1f2836;
  padding: 70px 0px;
  width: 100%;
  float: left;
}
.footer-sect {
  width: 33%;
  float: left;
}
.footer-sect h2 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-sect p {
  color: #fff;
  line-height: 22px;
  padding: 0px 30px 20px 0px;
}
.footer-sect img {
width: 10%;
}
.footer-menu li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}
.footer-menu li a {
  color: #fff;
  text-decoration: none;
}
.footer-contact li {
  margin-bottom: 15px;
  list-style: none;
  color: #fff;
}
/********** Footer CSS Ends **********/
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 8vh;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .logo {
    width: 8%;
    padding-top: 5px;
  }
  /* .navbar-links ul {
    width: 100%;
    flex-direction: column;
    height: auto;
  } */

  .navbar-links li {
    text-align: center;
    background-color: var(--primary-color);
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background-color: var(--primary-color);
  }
}
